div.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
form.formHolder{
    display: grid;
    gap:20px;
    width: 100%;
    max-width: 600px;
}
@media(min-width : 400px) {
    form.formHolder{
        grid-template-columns: repeat(2,1fr);
    }
}
button.formSubmitButton{
    width: 150px;
    grid-column: 1 / span 2;
    justify-self: center;
    
}